.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

.vertCenter{
	  position: relative;
	  top: 50%;
	  -webkit-transform: translateY(-50%);
	  -ms-transform: translateY(-50%);
	  transform: translateY(-50%);
}

.heroSection {
	background: url("../img/darkTown.jpg") no-repeat ;
	background-size: cover;
	height: 100vh;
}

.heroSection h2{
	color: white;
}
.heroSection h4{
	color: white;
	text-align: center;
}
.heroSection img{
	max-width: 200px;
}

.characterCreation .row{
	margin-bottom: 4%;
}

.characterCreation h5, .container h5{
	text-transform: uppercase;
	font-size: 1em;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 1px;
}

.characterCreation .third .three:first-child, .characterCreation .fourth .three:first-child {
	visibility: hidden;
}

.container h3{
	text-transform: uppercase;
	font-size: 1.2em;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 1px;
	color: firebrick;
	border-bottom: 2px solid firebrick;
}

.logistics p{
	margin-bottom:.7em;
}

.logistics, .currentRoster{
	background: #F4F4F4;
}

.sessionUpdates, .currentRoster, .characterCreation,footer{
	margin-top: 2%;
}



.logistics .three.columns, .sessionUpdates .columns{
	padding-top: 3%;
}

.sidebar{
	background: #F4F4F4;
	padding: 2%;
}

.leftText{
	font-size: .85em;
}

.playerStuff{
	border-bottom: 1px black solid;
	margin-bottom: 1%;
}

.currentRoster{
	padding-top: 2%;
	padding-bottom: 2%;
}

.currentRoster h3{
	border: 0;
}

.characterInfo{
	padding:0;
	margin:0;
}

.characterInfo img{
	max-width: 50px;
	display: inline;
	float: left;
}

.characterBio{
	color: black;
	display: inline-block;
	vertical-align: top;
	margin:0;
	padding:0;
	margin-left: 1em;
	float: left;
	width: 85%;
}

.characterBio h6{
	margin:0;
	padding:0;
	text-transform: uppercase;
	font-weight: bold;
	font-size: .8em;
}

footer{

}

footer p{
	text-align: center;
	font-size: .75em;
	margin:0;
}




